doctype html 
head
    title MahaLaxmi Dance Academy - Your DanceGuru
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    link(rel="shortcut icon", href="../static/fav.png", type="image/x-icon")
    block style
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
      <link rel="stylesheet" href="../static/style.css">
block moreStyle
body
  block navbar
    <nav id="navbar">
        a(href="home")
            <img src="../static/logo.png" alt="" width="170">
        <i class="fa fa-bars menu"></i>
        <!-- <span class="menu">&#9776;</span> -->
        <ul id="ul" class="phoneUl">
            <a href="home">
                <li><i class="fa fa-home"></i> Home</li>
            </a>
            <a href="home.html">
                <li><i class="fa fa-paper-plane"></i> About</li>
            </a>
            <a href="home.html">
                <li><i class="fa fa-wrench"></i> Services</li>
            </a>
            <a href="home.html">
                <li><i class="fa fa-music"></i> Class Info</li>
            </a>
            <a href="contact">
                <li><i class="fa fa-address-card"></i> Contact</li>
            </a>
        </ul>
    </nav>
  block content
  block footer
    <footer id="footer">
        <img src="../static/fav.png" alt="" width="40">
        <h5>
            Copyright <span>©</span> KanuRaj | ALL RIGHTS RESERVED 2020.
        </h5>
    </footer>
block scripts 
    script
        include ../static/script.js