<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MahaLaxmi Dance Academy - Your DanceGuru</title>
    <link rel="shortcut icon" href="../static/fav.png" type="image/x-icon">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">

    <link rel="stylesheet" href="../static/style.css">
</head>

<body>
    <nav id="navbar">
        <img src="../static/logo.png" alt="" width="170">
        <i class="fa fa-bars menu"></i>
        <!-- <span class="menu">&#9776;</span> -->
        <ul id="ul" class="phoneUl">
            <a href="home.html">
                <li><i class="fa fa-home"></i> Home</li>
            </a>
            <a href="home.html">
                <li><i class="fa fa-paper-plane"></i> About</li>
            </a>
            <a href="home.html">
                <li><i class="fa fa-wrench"></i> Services</li>
            </a>
            <a href="home.html">
                <li><i class="fa fa-music"></i> Class Info</li>
            </a>
            <a href="home.html">
                <li><i class="fa fa-address-card"></i> Contact</li>
            </a>
        </ul>
    </nav>

    <section id="intro">
        <div class="introC">
            <h1>Welcome To MahaLaxmi Dance Academy </h1>
            <hr />
            <p>
                | Learn Both Classical & Modern Dance With MahaLaxmi Dance Academy. MahaLaxmi Dance Academy Have Years
                | Of Experience With Teaching Dance, We Are The Best DanceGuru...
            </p>
        </div>
    </section>
    <section id="missions">
        <h4>Our Missions</h4>
        <hr />
        <div class="cardC">
            <div class="card">
                <h3>Make The Best Dancers</h3>
                <img src="../static/img1.jpg" alt="">

            </div>
            <div class="card">
                <h3>Revolutionize The Dance Industry</h3>
                <img src="../static/img2.png" alt="">

            </div>
            <div class="card">
                <h3>Aware People About Indian Culture</h3>
                <img src="../static/img3.jpg" alt="">

            </div>
        </div>
    </section>
    <section id="sponsors">
        <h3>Our Sponsors</h3>
        <hr />
        <div class="logoC">
            <img src="../static/imgl1.svg" alt="">
            <img src="../static/imgl2.svg" alt="">
            <img src="../static/imgl3.svg" alt="">
            <img src="../static/imgl4.svg" alt="">
            <img src="../static/imgl5.svg" alt="">
            <img src="../static/imgl6.svg" alt="">
            <img src="../static/imgl7.svg" alt="">
            <img src="../static/imgl8.svg" alt="">
        </div>
    </section>
    <div class="abcd">
        <img src="../static/img2.png" alt="">
        <img src="../static/img3.jpg" alt="">
    </div>
    <footer id="footer">
        <img src="../static/logo.png" alt="" width="170">
        <h5>
            Copyright <span>©</span> KanuRaj | ALL RIGHTS RESERVED 2020.
        </h5>
    </footer>


    <script src="../static/script.js"></script>
</body>

</html>